<!-- Main Section -->
<div class="col-md-9">
  <div class="row">
    <div class="col-md-3">
      <div class="card text-white bg-primary mb-3">
        <div class="card-body">
          <h5 class="card-title">Alunos Matriculados</h5>
          <p class="card-text" id="alunos">850</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-white bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Professores Ativos</h5>
          <p class="card-text">45</p>
        </div>
      </div>
    </div>
  </div>
    
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Evolução de Matrículas</h5>
          <canvas id="graficoMatriculas"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Frequência Média das Turmas</h5>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Aluno</th>
                <th>Presenças</th>
                <th>Faltas</th>
                <th>% de Presença</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>João Silva</td>
                <td>18</td>
                <td>2</td>
                <td>90%</td>
              </tr>
              <tr>
                <td>Maria Souza</td>
                <td>17</td>
                <td>3</td>
                <td>85%</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Content End -->